<div class="container">
   	<div class="row">
   		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
   			<label for="campaign_name"><b><u>Name:</u></b></label>
   			<input placeholder="Campaign Name" type="text" ng-model="campaign_name" id="campaign_name" class="form-control" style="padding: 8dp"/>
   			<br>

   			<label for="campaign_description"><b><u>Description:</u></b></label>
   			<input placeholder="Campaign Description" type="text" ng-model="campaign_description" id="campaign_description" class="form-control" style="padding: 8dp"/>
   			<br>


   			<label for="campaign_manager"><b><u>Manager:</u></b></label>
   			<input placeholder="Campaign Manager" type="text" ng-model="campaign_manager" id="campaign_manager" class="form-control" style="padding: 8dp"/>
   			<br>


            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">
               <label for="start_date"><b><u>Start Date:</u></b></label>
               <input placeholder="Start Date" type="text" ng-model="start_date" id="start_date" class="form-control" style="padding: 8dp"/>
               <br>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">
               <label for="end_date"><b><u>End Date:</u></b></label>
               <input placeholder="End Date" type="text" ng-model="end_date" id="end_date" class="form-control" style="padding: 8dp"/>
               <br>
            </div>


   			<label for="campaign_score"><b><u>Score:</u></b></label> 100
   		</div>
   		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <label for="output_channel"><b><u>Channel:</u></b></label>
            <div ng-repeat="channel in channels | orderBy:'name' track by $index">               
               <select class="form-control" ng-model="output_channel" ng-change="alert(channel.id);" ng-init="output_channel=1">
                        <option>{{channel.name}}</option>
                     </select>
               <br>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">
               <label for="start_date"><b><u>Start Date:</u></b></label>
               <input placeholder="Start Date" type="text" ng-model="start_date" id="start_date" class="form-control" style="padding: 8dp"/>
               <br>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" align="left">
               <label for="end_date"><b><u>End Date:</u></b></label>
               <input placeholder="End Date" type="text" ng-model="end_date" id="end_date" class="form-control" style="padding: 8dp"/>
               <br>
            </div>

            <label for="segments"><b><u>Channel:</u></b></label>
            <select class="form-control" name="segments" ng-model="segments" ng-change="" ng-init="segments">
                     <option value="1">EMAIL</option>
                     <option value="2">OUTBOUND CALL</option>
                     <option value="3">MAIL PIECE</option>
                     <option value="4">ORDER INSERT</option>
                     <option value="5">CATALOG</option>
                     <option value="6">SOCIAL MEDIA</option>
                     <option value="7">ROAD REPS</option>
                  </select>
            <br>



   		</div>
   	</div>
   	<div class="row">
   		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">   			
            <button type="button"
              class="btn btn-primary btn-block"
              ng-click="btnSaveCampaign()"]>
              SAVE
            </button>
   		</div>
   	</div>
</div>