<div class="container" data-ng-controller="campaign_manager_cntrl">
   	<div class="row">
   		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
   			<br>
   			<div><b><u>Name:</u></b></div>
   			<br>
   			<div><b><u>Description:</u></b></div>
   			<br>
   			<div><b><u>Manager:</u></b></div>
   			<br>
   			<div><b><u>Start Sate:</u></b></div>
   			<br>
   			<div><b><u>End Date:</u></b></div>
   			<br>
   			<div><b><u>Score:</u></b></div>
   		</div>
   		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
   			<br>
   			<div><input placeholder="Campaign Name" type="text" ng-model="campaign_name" class="form-control" style="padding: 8dp"/></div>
   			<br>
   			<div><input placeholder="Campaign Description" type="text" ng-model="campaign_description class="form-control" style="padding: 8dp"/></div>
   			<br>
   			<div><input placeholder="Campaign Manager" type="text" ng-model="campaign_manager" class="form-control" style="padding: 8dp"/></div>
   			<br>
   			<div><input placeholder="Start Date" type="text" ng-model="start_date" class="form-control" style="padding: 8dp"/></div>
   			<br>
   			<div><input placeholder="End Date" type="text" ng-model="end_date" class="form-control" style="padding: 8dp"/></div>
   			<br>
   			<div>100</div>
   		</div>
   	</div>
</div>