<div data-ng-controller="dreamsCtrl" style="padding:10px">
   <div class="row">
       
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">         
        <div>
          <h1><b>Dreams</b></h1>
          <h3>What are Prophetic Dreams?</h3>
          <p><b>Definition: </b>
          A Prophetic dream, also referred to as a precognitive dream, are dreams of events or incidents before they happen. A study showed that 42% of people felt they had had a dream about something that later came true. So despite what the sceptics may say many people have experienced prophetic dreams and believe that their dream can predict the future.</p>

          <p><b>Prophetic Dreams in the Bible</b> </br>
          People believe that Prophetic dreams or visions are messages from God about the future. There are many Prophetic Dreams and visions which are detailed in the Bible.

          Joseph in the Bible saw eleven stars of the Zodiac bow to himself, the twelfth star
          The famine of Egypt detailed in the Bible was revealed by a vision of fat and lean cattle
          The parents of Christ were warned of the cruel edict of Herod, and fled with the baby Jesus into Egypt
          In the Bible, Pilate's wife, through the influence of a dream, advised her husband to have nothing to do with the conviction of Christ. But the gross materialism of the day laughed at dreams, as it echoed the voice and verdict of the multitude, ``Crucify the Spirit, but let the flesh live.'' Barabbas, the robber, was set free</p>     
        </div>

      <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3><b>Tell us your dream!</b></h3>
                <input id="txtEmail" placeholder="Enter your email " type="email" ng-model="dreams_email" class="form-control" style="padding: 8dp" />
                <input id="txtUserName" placeholder="Enter your name (only if you want to) " type="text" ng-model="dreams_user_naame" class="form-control" style="padding: 8dp"/>
                <input id="txtDateOfDream" placeholder="Enter the date of the dream" type="date" ng-model="dreams_date" class="form-control" style="padding: 8dp"/>
                <textarea id="txtDream" rows="4" cols="50" placeholder="Enter your Dream" ng-model="dreams_dream_desc" class="form-control" style="padding: 8dp">
                </textarea>
                
                <button type="button"
                  class="btn btn-primary btn-block"
                  ng-click="btn-submit-a-dream()"
                  id="btnSubmitDream">
                  Submit
                </button>

            </div>
      </div>
      
      </div>

      <div class="col-lg-4 col-md-4 visible-lg-block visible-md-block text-left">
        
        <p><b>Prophetic Dreams</b></p>
        These are dreams submitted by fellow believers.  Let us know your dreams!       
        
        <br>
        <div style="overflow:scroll; height:500px;"> <!-- ng-repeat="dream in dreams" -->
          <br><b>Dream1</b>
          <br>I dreamed.....
          <br>It means...
          <br>
          <br>
          <br><b>Dream2</b>
          <br>I dreamed.....
          <br>It means...
          <br>
          <br>
          <br><b>Dream3</b>
          <br>I dreamed.....
          <br>It means...
          <br>
          <br>
          <br><b>Dream4</b>
          <br>I dreamed.....
          <br>It means...
          <br>
          <br>
          <br><b>Dream5</b>
          <br>I dreamed.....
          <br>It means...
          <br>
          <br>
          <br><b>Dream6</b>
          <br>I dreamed.....
          <br>It means...
          <br>
          <br>
          <br><b>Dream7</b>
          <br>I dreamed.....
          <br>It means...
          <br>
          <br>
          <br><b>Dream8</b>
          <br>I dreamed.....
          <br>It means...
          <br>
          <br>
          <br><b>Dream9</b>
          <br>I dreamed.....
          <br>It means...
          <br>
          <br>
          <br><b>Dream10</b>
          <br>I dreamed.....
          <br>It means...
          <br>
          <br>
        </div>
      </div>


   </div>
</div>