<div class="container">
   <div class="row">
    <div class="container">
      <div class="row">
      <!--<h2>-->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <input placeholder="Segment Name" type="text" ng-model="segment_name" id="segment_name" class="form-control" style="padding: 8dp"/>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <select ng-model="object_type_list" class="form-control"
              ng-options="object_type as object_type.name for object_type in object_types | orderBy:'object_type.name'">
          </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="display:inline">
          <label style="display:inline" for="segment_limit"><b><u>Limit:</u></b></label>
          <input style="display:inline" placeholder="Segment Limit" type="text" ng-model="segment_limit" id="segment_limit" class="form-control"/>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <input type="checkbox" ng-model="segment_active">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <input type="checkbox" ng-model="segment_retag">
        </div>
      <!--</h2>-->
    </div>
    <br>
      <div class="row">
      <!--<h2>-->
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <input placeholder="Segment Description" type="text" ng-model="segment_description" id="segment_description" class="form-control" style="padding: 8dp"/>
        </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <button type="button"
                  class="btn btn-primary btn-block"
                  ng-click="btnSaveSegment()">
                  SAVE
                </button>
          </div>
      <!--</h2>-->
    </div>
    <br>
      <div class="panel panel-default">
        <div class="panel-body">A Basic Panel</div>
      </div>
    </div>
   </div>
</div>
