<div class="container">
   <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <label for="segment_name"><b><u>Segment Name:</u></b></label>
          <input placeholder="Segment Name" type="text" ng-model="segment_name" id="segment_name" class="form-control" style="padding: 8dp"/>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <label for="object_type_list"><b><u>Subject:</u></b></label>
          <select ng-model="object_type_list" class="form-control"
              ng-options="object_type as object_type.name for object_type in object_types | orderBy:'object_type.name'">
          </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <label for="segment_limit"><b><u>Limit:</u></b></label>
          <input placeholder="Segment Limit" type="text" ng-model="segment_limit" id="segment_limit" class="form-control" style="padding: 8dp"/>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
          <br>
          <label for="segment_active"><b><u>Active:</u></b></label>
          <input type="checkbox" ng-model="segment_active">
            <br>
            <label for="segment_retag"><b><u>Retag:</u></b></label>
            <input type="checkbox" ng-model="segment_retag">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <br>
          <button type="button"
            class="btn btn-primary btn-block"
            ng-click="btnSaveSegment()">
            SAVE
          </button>
        </div>
    </div>
    <br>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <input placeholder="Segment Description" type="text" ng-model="segment_description" id="segment_description" class="form-control" style="padding: 8dp"/>
        </div>
    </div>

<hr style="height:3px;border:none;color:#555;background-color:#555;" />

      <div class="panel panel-default" ng-repeat="sub_criteria in sub_criterias">
        <div class="panel-body">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <select data-ng-model="selectedTable" class="form-control"
                ng-options="table as table.name for table in tables | orderBy:'table.name'">
            </select>
          </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <select ng-model="field_list" class="form-control"
                  ng-options="field as field.name for field in fields | orderBy:'field.name' | filter:{table: selectedTable.name}">
              </select>
            </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <select ng-model="operator_list" class="form-control"
                    ng-options="operator as operator.name for operator in operators | orderBy:'operator.name'">
                </select>
              </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <input placeholder="Criteria" type="text" ng-model="criteria" id="criteria" class="form-control" style="padding: 8dp"/>
                </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <button type="button"
            class="btn btn-primary btn-block btn-xs"
            ng-click="btnAddCiteria()">
            +
          </button>
        </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <button type="button"
            class="btn btn-danger btn-block btn-xs"
            ng-click="btnRemoveCiteria($index)">
            -
          </button>
        </div>
        </div>
      </div>

    </div>
   </div>
</div>
