<div> <!-- flixMovieViewCtrl data-ng-controller="movieViewCtrl" -->
    <a id="top"></a>
    <div align="center" style=";color: #AA4444; font-weight: bold;">
        <b><h2>{{movie.title}}</h2></b>
    </div>    
    <div align="center" style="padding-bottom: 10px;">
        <small style="display: inline-block;">
            <span>{{movie.length}}&nbsp;minutes</span>
            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <span>Rating:&nbsp;{{movie.rating}}</span>
            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <span>FlixGrade:&nbsp;{{movie.grade}}</span> 
        </small>
    </div> 
    <div align="center">
         <img ng-show="movie.product_image != null && movie.product_image.length > 0" style="width: 75%; -webkit-box-shadow: 0px 0px 12px 0px rgba(100, 100, 100, 0.45); -moz-box-shadow: 0px 0px 12px 0px rgba(100, 100, 100, 0.45); box-shadow: 0px 0px 12px 0px rgba(100, 100, 100, 0.45);" src="{{movie.product_image}}" />
         <div ng-show="movie.product_image == null || movie.product_image.length == 0" style="width: 75%; -webkit-box-shadow: 0px 0px 12px 0px rgba(100, 100, 100, 0.45); -moz-box-shadow: 0px 0px 12px 0px rgba(100, 100, 100, 0.45); box-shadow: 0px 0px 12px 0px rgba(100, 100, 100, 0.45);">
            <img src="/public/images/FlixAcademyCoverArt.png" style="width: 95%;" />
         </div>
      </div>  
    <div style="display:block;padding: 10px;">
        <p ng-show="movie.description != null && movie.description != ''">
            {{movie.description}}
        </p>
    </div>

    
    
    <div align="center" style="padding-top: 10px;padding-bottom: 10px;">
        <font style="padding: 20px;" color="#AA4444;"><b>Vote and Add To Playlist</b></font>
        <br>
        <div class="row">
            <span class="col-xs-4" tooltip="Thumbs Down Vote"><img src="/public/images/btn_thumbsdown_red.png" ng-click="rateMovie(0,movie)" width="50%" alt="thumbs down" /></span>
            <span class="col-xs-4" tooltip="Thumbs Up Vote"><img src="/public/images/btn_thumbsup_green.png" ng-click="rateMovie(1,movie)" width="50%" alt="thumbs up" /></span>
            <span class="col-xs-4" tooltip="Add '{{movie.title}}' to your playlist"><img src="/public/images/btn_add_playlist.png" ng-click="addMovieToPlaylist(movie)" width="50%" alt="add to playlist" /></span>
        </div>
    </div>

    <div align="center" style="padding-top: 20px;;padding-bottom: 20px;">        
            <a href="" ng-click="openRemix(movie,-1)" style="margin-top: 10px;color: #AA4444; ">
                Create a FlixREMIX and Earn Rewards!
            </a>
        </div>

    <div align="center" style="padding-top: 20px;padding-bottom: 20px;" ng-hide="movie.remixes == null || movie.remixes.length == 0">
        <font style="padding: 10px;" color="#AA4444;"><b>Available Remixes</b></font>
        <br>
        <div  style="display: inline-block;font-size: 1.0em;" ng-repeat="r in movie.remixes track by $index">
            <a href="//<?php echo($_SERVER['HTTP_HOST']) ?>/flix/flix_remix_submission.php?remix_id={{r.flix_remix_id}}" target="_blank">{{r.lesson_name}}
            </a>&nbsp;&nbsp;&nbsp;
        </div>
    </div>




    <div align="center" style="padding-top: 20px;padding-bottom: 20px;">    
        <font color="#AA4444;"><b>Watch Now!</b></font>
        <div class="row" style="font-size: 1.2em; text-align: center;" ng-repeat="v in movie.vendors track by $index">
            <a href="{{v.vendor_product_link}}" target="_blank">
                <span ng-show="v.vendor_logo == null">{{v.vendor_name}}</span>
                <img ng-show="v.vendor_logo != null" src="{{v.vendor_logo}}" alt="{{v.vendor_name}}" style="display: inline-block; width: 55%; margin-top: 15px;" />
            </a>
        </div>
    </div>

    
    <div align="center">
        <a style="padding: 10px;" ng-click="showFeedback=!showFeedback"><font color=#777;>Provide Feedback</font></a>
    </div>


   <div ng-show ="showFeedback" class="container-fluid" style="padding-top:5px;">
      <div class="row" style="background-color: #EEEEEE; padding-top: 20px; padding-bottom: 20px;">
         <div class="col-sm-4">
            <label>Feedback Type</label>
            <select class='form-control' data-ng-model='feedback_type' data-ng-options='item as item.name for item in feedback_types' ng-change="feedback=''"></select>
         </div>
         <div class="col-sm-4">
            <label>Feedback</label><br />
            <input id="txtFeedback" placeholder="{{feedback_type.name}}" type="text" ng-model="feedback" class="form-control" />
         </div>
         <div class="col-sm-4">
            </br>
            <div class="col-xs-12 visible-xs-block" style="margin-top: 10px;"></div>
            <button type="button"
               class="btn btn-default btn-block"
               ng-click="btnSendFeeback(feedback)"
               id="btnSendFeeback">
            Send Feedback
            </button>
         </div>
      </div>
   </div>
    
</div>