<div ng-mouseover="showView(true)" ng-mouseleave="showView(false) data-ng-controller="flixMiniMovieViewCtrl" style="padding: 10px;position: fixed;bottom:0;width: 110%;height:20%;-webkit-box-shadow: 0px 0px 12px 0px rgba(100, 100, 100, 0.45); -moz-box-shadow: 0px 0px 12px 0px rgba(100, 100, 100, 0.45); box-shadow: 0px 0px 12px 0px rgba(100, 100, 100, 0.45);background-color: #fff"> 
<!--<div ng-mouseover="showView(true)" ng-mouseleave="showView(false) data-ng-controller="flixMiniMovieViewCtrl" data-ng-style="{'padding': '10px','position': 'fixed','left':position.x + 'px','top':position.y + 'px','width': '110%','height':'20%','-webkit-box-shadow': '0px 0px 12px 0px rgba(100, 100, 100, 0.45)','-moz-box-shadow':'0px 0px 12px 0px rgba(100, 100, 100, 0.45)','box-shadow': '0px 0px 12px 0px rgba(100, 100, 100, 0.45)','background-color': '#fff'}">-->

    <div class="row"> <!-- title -->
      <div ng-hide="0" class="col-sm-12">
         <div id="titleDiv">
            <h5 ng-click="openMovie()" class="visible-xs-block" style="margin-top: 0; padding-top: 0; line-height: 1.2em; color: #AA4444; font-weight: bold;">
            {{movie.title}}
            </h4>
            <h4 ng-click="openMovie()" class="visible-sm-block" style="margin-top: 0; padding-top: 0; line-height: 1.2em; color: #AA4444; font-weight: bold;">
               {{movie.title}}
            </h4>
            <h3 ng-click="openMovie()" class="visible-md-block visible-lg-block" style="margin-top: 0; padding-top: 0; line-height: 1.2em; color: #AA4444; font-weight: bold;">
            {{movie.title}}
            </h4>
         </div>
      </div>
   </div>
   <div class="row"> <!--description-->
      <div ng-hide="0" class="col-sm-11">
         <div>
             <font size="2">
                 <p style="width: 95%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                 {{movie.description}}
                 </p>
             </font>
         </div>
      </div>
   </div>
   <div class="row" style="position: absolute;bottom: 0;padding-bottom: 2px;">
      <div ng-hide="0" class="col-sm-12">
         <div style="display: inline;padding-right: 35px;" ng-repeat="v in movie.vendors track by $index">
            <a  href="{{v.vendor_product_link}}" target="_blank">
            <span ng-show="v.vendor_logo == null">{{v.vendor_name}}</span>
            <img ng-show="v.vendor_logo != null" src="{{v.vendor_logo}}" alt="{{v.vendor_name}}" height="45px" width="120px" />
            </a>
         </div>
      </div>
   </div>
</div>